/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #5e4545;
    line-height: 1.6;
}

header {
    background-color: #575151;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

/* Add more CSS for styling your portfolio as needed */
